# App
APP_ENV=development
APP_PORT=8083

# Database (docker internal)
DATABASE_HOST=micro_postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your-postgres-password
DATABASE_NAME=sayur_product_service

# Redis (docker internal)
REDIS_HOST=micro_redis
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ (docker internal)
RABBITMQ_HOST=micro_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Elasticsearch (docker internal)
ELASTICSEARCH_HOST=http://micro_elasticsearch:9200